* {
    box-sizing: border-box;
    --baseColor: #6ead7f; /*#64238c*/
    --gradientColor: #0e4e20;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--baseColor);
    color: white
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#game {
    display: flex;
    flex-direction: column;
    gap: 1rem
}
#play {
    background-color: var(--gradientColor);
    color: white;
    border-radius: 50%;
    padding: 1.5rem;
}
td {
    border: 1px solid var(--baseColor);
    height: 20px;
    width: 20px;
}
table {
    box-shadow: 5px 5px 15px var(--gradientColor);
    border-spacing: 0;
    background: var(--gradientColor);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, var(--baseColor), var(--gradientColor));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, var(--baseColor), var(--gradientColor)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.red {
    background-image: url('/img/red.png');
    background-color: red;
}
.green {
    background-image: url('/img/green.png');
    background-color: green;
}
.blue {
    background-image: url('/img/blue.png');
    background-color: blue;
}
.orange {
    background-image: url('/img/orange.png');
    background-color: rgb(239, 173, 48);
}
.purple {
    background-image: url('/img/purple.png');
    background-color: purple;
}
.yellow {
    background-image: url('/img/yellow.png');
    background-color: yellow;
}